:root {
  --mainColor: #252734;
  --secondaryColor: #333646;
  --primeColor: rgb(100, 180, 255);
}

body {
  background-color: var(--mainColor);
  min-height: 900px;
  font-family: 'ubuntu', sans-serif;
}

p {
  color: #fff;
}

hr {
  width: 35%;
  height: 5px;
  color: var(--primeColor);
  margin: 0 auto;
  opacity: 100%;
}

h1,
h5 {
  color: #fff;
}

/* Navbar */
.nav-link.active {
  color: var(--primeColor) !important;
  font-weight: 700;
}

.nav-dark {
  background-color: var(--secondaryColor) !important;
  z-index: 10;
  transition: 0.8s;
}

/* END Navbar */

/* Hero */
.color-prime {
  color: var(--primeColor);
}

#hero {
  color: #fff;
  min-height: 100vh;
  padding-top: 75px;
}

#hero h1 {
  font-size: 2rem;
}

#hero h2 {
  font-weight: 300;
}

#hero p {
  font-size: 1.1rem;
}

/* Button */
.btn-custom1 {
  background-color: var(--primeColor);
  text-align: center;
  color: #fff;
  min-width: 150px;
  height: 40px;
  font-weight: 700;
  font-size: 1.2rem;
}

.btn-custom1:hover {
  box-shadow: 0 0 5px rgba(100, 180, 255, 0.8);
}

.cv {
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
}

.social-icon svg {
  margin-right: 0.7em;
  margin-bottom: 10px;
}

.social-icon a {
  text-decoration: none;
}

/* END Hero */

/* About */
#about {
  min-height: 300px;
  width: 100%;
  background-color: var(--secondaryColor);
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 80px;
}

/* END About */

/* Skill */
#skill {
  min-height: 400px;
  width: 100%;
  color: #fff;
}

#skill img {
  width: 12%;
  margin: 10px;
}

/* END Skill */

/* Project */

#project {
  min-height: 300px;
  width: 100%;
  background-color: var(--secondaryColor);
  color: #fff;
  padding-top: 40px;
  padding-bottom: 80px;
  margin-bottom: 80px;
}

#project .container {
  padding: 80px 10px;
}

#project img {
  width: 100%;
}

#project a:hover {
  box-shadow: 0 0 15px rgba(100, 180, 255, 0.8);
}

/* END Project */

/* Footer */
.social-icon-footer svg {
  margin-right: 0.3em;
}

.social-icon-footer a {
  text-decoration: none;
}
/* END Footer */
